html {
  scroll-behavior: smooth;
}

.skip a {
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}


.skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

.header {
  text-align: center;
  font-size: 50px;
  font-family: 'Francois One', sans-serif;
  padding: 10px;
  background-color: #FABC09;
  color:#374353;
}

#research main{
  font-family: helvetica;
  /*background-color: #faebd7;*/
  background-color:#374353;
}

#research #main{
  padding: 30px;
  color: white;
}

#research .page_name {
  text-align: center;
  font-size: 35px;
  /*color: #374353;*/
  color: white;
  
  
}

#research .nav2 {
  list-style: none;
  text-align: center;

}

#research .nav2 li {
  display: inline-block;
  /*color: #374353;*/
  color: white;
}

#research .nav2 a {
  color: #FABC09;
}

#research img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#research h2{
  font-size: 30px;
  /*text-align: center;*/
  /*color: #374353;*/
  color: white;
  font-style: italic;
}

#research h3{
  font-size: 16px;
  /*color: #0CA587;*/
  color: #92E8D5;
}

#research .inside_list{
  padding-left: 30px;
}

#research #main{
  line-height: 1.4em;
}

#research #main a{
  /*color: #E1A300;*/
  color: #FABC09;
}

#teaching {
  padding: 50px;
}

#teaching .page_name {
  text-align: center;
}

#teaching .nav2 {
  list-style: none;
  text-align: center;
}

#teaching .nav2 li {
  display: inline-block;
}

#teaching .engr-100-img {
  padding-bottom: 20px;
  padding-top: 20px;
}

#teaching .engr-101-img {
  padding-bottom: 20px;
  padding-top: 20px;
}




/* Style the navigation menu */

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}


/* Hide the links inside the navigation menu (except for logo/home) */

.topnav #myLinks {
  display: none;
}


/* Style navigation menu links */

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}


/* Style the hamburger menu */

.topnav a.icon {
  background: #374353;
  display: block;
  position: absolute;
  right: 0;
  top: 0;

}

.topnav .active{
  padding: 15px;
  color: #374353;
  font-weight: bold;
 /* size: 20px;*/
}
/* Add a grey background color on mouse-over */

.topnav a{
  background-color:#374353;
}

.topnav a:hover {
  background-color: white;
  color: #374353;
  /*font-weight: bold;*/
}



/* Style the active link (or home/logo) */

.active {
  background-color: #92E8D5;
  color: white;
}

.fa-icon {
  text-decoration: none;
  color: white;
  height: auto;
  padding: 10px;

}

.fa-icon:hover{
  opacity: 0.7;
  cursor: pointer;
}





/* fun page */


body {
  background-color: white;




}

/*tab container*/

#tabs {

   width: 100%;
    height:30px; 
   border-bottom: solid 1px #CCC;
   padding-right: 2px;
   margin-top: 30px;
   

}


#tabs li {
    float:left; 
    list-style:none; 
    border-top:1px solid #ccc; 
    border-left:1px solid #ccc; 
    border-right:1px solid #ccc; 
    margin-right:5px; 
    border-top-left-radius:3px;  
    border-top-right-radius:3px;
    outline:none;
    background-color: black;
}

#tabs li a {

    font-family:Arial, Helvetica, sans-serif; 
    font-size: small;
    font-weight: bold; 
    color: #504f54;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 8px; 
    display:block; 
    background: lightgrey;
    border-top-left-radius:3px; 
    border-top-right-radius:3px; 
    text-decoration:none;
    outline:none;
  
}

#tabs li a.inactive{
    padding-top:5px;
    padding-bottom:8px;
    padding-left: 8px;
    padding-right: 8px;
    color:#666666;
    background: #EEE;
    outline:none;
    border-bottom: solid 1px #CCC;

}

#tabs li a:hover, #tabs li a.inactive:hover {


    color: #5685bc;
      outline:none;
}

#fun .container {

    display: block;       
    min-width:70%; 
    border-bottom: solid 1px white;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    text-align:left;
    padding: 40px;
    background-color: #faebd7;


}

/*.container h2 { margin-left: 15px;  margin-right: 15px;  margin-bottom: 10px; color: #5685bc; }

.container p { margin-left: 15px; margin-right: 15px;  margin-top: 10px; margin-bottom: 10px; line-height: 1.3; font-size: small; }

.container ul { margin-left: 25px; font-size: small; line-height: 1.4; list-style-type: disc; }

.container li { padding-bottom: 5px; margin-left: 5px;}*/






/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  opacity: 1;

}

/* Hide the images by default */
.mySlides {
  display: none;
  max-height: 400px;
  max-width: 800px;
  margin: auto;

}

.mySlides img {
  max-height: 150px;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 0px;
  color: #c6d2d2;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -30px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: -30px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-family: "Abril Fatface", cursive;
  color: #90ee90;
  font-size: 11px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  /*text-align: center;*/
  
  
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, .5);

}

/*
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}*/

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




@media screen and (prefers-reduced-motion: reduce) {
  .skip a {
      -webkit-transition: none !important;
      transition: none !important;
  }
  html {
      scroll-behavior: auto;
  }
}